<?xml version="1.0" encoding="UTF-8"?>
<project-modules id="moduleCoreId" project-version="1.5.0">
	<wb-module deploy-name="webproject">
		<wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/resources" />
		<wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/java"
			tag="defaultRootSource" />
		<wb-resource deploy-path="/" source-path="/target/m2e-wtp/web-resources" />
		<wb-resource deploy-path="/" source-path="/src/main/webapp" />
		<dependent-module archiveName="logbackmavenexemple-0.0.1-SNAPSHOT.jar"
			deploy-path="/WEB-INF/lib"
			handle="module:/resource/logbackmavenexemple/logbackmavenexemple">
			<dependency-type>uses</dependency-type>
		</dependent-module>
		<property name="context-root" value="webproject" />
		<property name="java-output-path" value="/webproject/target/classes" />
	</wb-module>
</project-modules>
